<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS section-->

    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel='stylesheet' href='/Content/app.css' />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


</head>

<body>

    <!-- Main Navigation -->
    <nav class="navbar navbar-expand-lg ">

        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/home">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                    aria-expanded="false">Dropdown</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/document"> Document </a></li>
                    <li><a class="dropdown-item" href="/notification"> Notification </a></li>
                    <li><a class="dropdown-item" href="/userProfile"> User Profile </a></li>
                    <li><a class="dropdown-item" href="/customerCare"> Customer Care </a></li>
                    <% if(isAdmin) {%>
                        <li><a class="dropdown-item" href="/tickets"> Tickets </a></li>
                        <%}%>
                </ul>
        </ul>
        </li>

    </nav>



    <!-- Main Content -->
    <main>
        <main class="container">
            <div class="row">
                <div class="col">
                    <div class="jumbotron">
                        <h1 class="display-7">
                            <%= title %>
                        </h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="display-10">Welcome to <%= title %>
                    </p>
                    <hr class="my-4">
                </div>
            </div>

            <div class="wrapper">

                <p>
                <form method="get" action="/Document">
                    <button type="submit" class="btn btn-warning btn-lg btn-block" style="width: 30%">Document</button>
                </form>
                </p>

                <p>
                <form method="get" action="/notification">
                    <button type="submit" class="btn btn-warning btn-lg btn-block"
                        style="width: 30%">Notification</button>
                </form>
                </p>

                <p>
                <form method="get" action="/userProfile">
                    <button type="submit" class="btn btn-warning btn-lg btn-block" style="width: 30%">User
                        Profile</button>
                </form>
                </p>

                <p>
                <form method="get" action="/customerCare">
                    <button type="submit" class="btn btn-warning btn-lg btn-block" style="width: 30%">Customer
                        Care</button>
                </form>
                <p>

                <div style="width: 30%">
                    <div>Update Today's Ontario Full Vaccinated</div>
                    <canvas id="myChart" width="400" height="200"></canvas>
                </div>
                <script>
                    var xhttp = new XMLHttpRequest();
                    xhttp.onreadystatechange = function () {
                        if (this.readyState == 4 && this.status == 200) {
                            let result = xhttp.responseText;
                            // Typical action to be performed when the document is ready:
                            console.log(result);
                            let x = JSON.parse(result);
                            let summary = x.summary[0];
                            let vaxxed = parseFloat(summary.cumulative_cvaccine);
                            const ctx = document.getElementById('myChart').getContext('2d');
                            const myChart = new Chart(ctx, {
                                type: 'pie',
                                data: {
                                    labels: ['Vaccinated', 'Not Vaccinated'],
                                    datasets: [{
                                        label: '# of Votes',
                                        data: [vaxxed, 14570000 - vaxxed / 2],
                                        backgroundColor: [
                                            'rgba(255, 99, 132, 0.2)',
                                            'rgba(54, 162, 235, 0.2)',
                                        ],
                                        borderColor: [
                                            'rgba(255, 99, 132, 1)',
                                            'rgba(54, 162, 235, 1)',
                                        ],
                                        borderWidth: 1
                                    }]
                                },
                                options: {
                                    scales: {
                                        y: {
                                            beginAtZero: true
                                        }
                                    }
                                }
                            });
                        }
                    };
                    xhttp.open("GET", "https://api.opencovid.ca/summary?loc=ON", true);
                    xhttp.send();
                   



                </script>


            </div>




        </main>



        <!-- Bottom Nav-->
        <footer>
            <nav class="navbar fixed-bottom">
                <div class="container-fluid">
                    <h6>&copy; Copyright 2021. All Rights reserved</h6>
                </div>
            </nav>
        </footer>
        <!-- Script Section-->
        <script src="/jquery/dist/jquery.min.js"></script>
        <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/Scripts/app.js"></script>
</body>

</html>