
  <!-- Bottom Nav-->
  <footer>
    <nav class="navbar fixed-bottom">
      <div class="container-fluid">
        <h6>&copy; Copyright 2022. All Rights reserved</h6>
      </div>
    </nav>
  </footer>
