/* your custom css goes here */

.wrapper {
  text-align: center;
  

}

.image-group { text-align: center; }
.image-group { display:inline-table; }
.image-group { display:inline; }

/*Centre the column in project page*/
.col1 { transition: transform .2s;  margin: 0 auto;}

 
.nav-item{
  background-color: #674d03;
  color: white;

}

.navbar{
  background-color: #674d03;

}

.container-fluid{
  background-color: #674d03;
  color: white;

}

body{
  background-color: #fff3cd;

}

.nav-link{
  color: white;
}

.list-group-item{
  background-color: #ffe69c;



}

