<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS section-->

  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
  <link rel='stylesheet' href='/Content/app.css' />

</head>
<body>

<!-- Main Navigation -->
<nav class="navbar navbar-expand-lg ">

  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="/home">Home</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Dropdown</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/document" > Document </a></li>
        <li><a class="dropdown-item" href="/notification"> Notification </a></li>
        <li><a class="dropdown-item" href="/userProfile"> User Profile </a></li>
        <li><a class="dropdown-item" href="/customerCare"> Customer Care </a></li>  
        <% if(isAdmin)  {%>
          <li><a class="dropdown-item" href="/tickets"> Tickets </a></li>  
          <%}%>
          </ul>
      </ul>
    </li>
     
    </nav>

    

    <!-- Main Content -->
    <main>
      <main class="container">
        <div class="row">
           <div class="col">
              <div class="jumbotron">
                 <h1 class="display-7"><%= title %></h1>
              </div>
           </div>
        </div>
           <div class="row">
             <div class="col">
               <p class="display-10">Welcome to <%= title %> </p>
               <hr class="my-4">
             </div>
          </div>  

    <div class="wrapper">

        <p><form method="get" action="/Document">
            <button type="submit" class="btn btn-warning btn-lg btn-block" style="width: 30%" >Document</button>
        </form></p>

        <p><form method="get" action="/notification" >
            <button type="submit" class="btn btn-warning btn-lg btn-block" style="width: 30%" >Notification</button>
        </form></p>

        <p><form method="get" action="/userProfile" >
            <button type="submit" class="btn btn-warning btn-lg btn-block" style="width: 30%">User Profile</button>
        </form></p>

        <p><form method="get" action="/customerCare" >
            <button type="submit" class="btn btn-warning btn-lg btn-block" style="width: 30%">Customer Care</button>
        </form><p>

    </div>

</main>



 <!-- Bottom Nav-->
  <footer>
    <nav class="navbar fixed-bottom">
      <div class="container-fluid">
        <h6>&copy; Copyright 2021. All Rights reserved</h6>
      </div>
    </nav>
  </footer>
<!-- Script Section-->
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/Scripts/app.js"></script>
  </body>
</html>




