<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<main class="container">

    <div class="row">
        <div class="offset-md-4 col-md-4">
            <h1>Welcome to I-Wallet</h1><br>
            <h3>Please enter your email</h3>

            <form method="POST" action="http://localhost:3000/recoverPassword">
                <fieldset class="form-group">
                    <label for="username">Email: </label>
                    <input type="email" class="form-control"
                    name="email" placeholder="Enter your email"
                    id="email" required autofocus>
                </fieldset><br>

                <fieldset class="form-group text-right">
                    <a href="/">
                        <input type="submit" class="btn btn-warning" value="Send">
                    </a>
                </fieldset>

            </form>
        </div>
    </div>

</main>

<%- include ../partials/bottom_nav.ejs %>

<%- include ../partials/footer.ejs %>
