  
<!-- Welcome Message -->

<main class="container">
    <br>
     </div>
     <div class="row">
        <div class="col">
          <p class="display-10"><strong> Welcome to <%= title %> Page </p></strong>
          <hr class="my-4">
        </div>
     </div>