
<!-- Welcome Message with Jumbotron -->

<main class="container">
    <div class="row">
       <div class="col">
          <div class="jumbotron">
             <h1 class="display-7"><%= title %></h1>
          </div>
       </div>
    </div>
       <div class="row">
         <div class="col">
           <p class="display-10">Welcome to <%= title %> </p>
           <hr class="my-4">
         </div>
      </div>